<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <title>About CSV to Chart</title>
</head>
<body>
    <div class="container">
        <div class="container-links">
            <a href="/">Home</a> | <a href="/demo">Demo</a>
        </div>
        <div class="content">
        <h1>About CSV to Chart</h1>
        <p>
            Welcome to CSV to Chart, a web application designed to streamline the process of visualizing data from CSV files.
            Whether you're a data enthusiast, analyst, or someone working with CSV files, our tool provides a user-friendly interface to transform your raw data into insightful charts and graphs.
        </p>
        <ul>
            <li>Effortlessly upload CSV files.</li>
            <li>Analyze datasets visually using various chart types.</li>
            <li>Export and share visualized data seamlessly.</li>
        </ul>
        <p>
            Our mission is to empower users to make data-driven decisions by offering a straightforward and effective visualization tool.
        </p>
        <p>
            The following type of visualizations are available: Bar Chart, Pie Chart, Scatter Plot, Line Chart, Histogram.
        </p>
        <p class="red">
           If the dataset does not contain the required columns for a specific chart, you won't be able to generate it.
        </p>
        </div>
        <div class="container-links">
            <a href="https://github.com/georgescutelnicu">Check my Github</a> | <a href="https://georgescutelnicu.github.io/">Check my website</a>
        </div>
    </div>
</body>
</html>
