<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataFrame Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataframe.css') }}">
</head>
<body>
    <div class="container">
        {{ df_html|safe }}
    </div>

    <div class="container">
        <h2>Generate Chart for {{ name }}</h2>
        <form action="{{ url_for('generate_chart') }}" method="post" onsubmit="return validateForm()">
            <select id="chartType" name="chartType" onchange="showHideFields()">
                <option value="bar" selected>Bar Chart</option>
                <option value="hist">Histogram</option>
                <option value="line">Line Chart</option>
                <option value="pie">Pie Chart</option>
                <option value="scatter">Scatter Plot</option>
            </select>

            <div id="barFields" style="display: block;">
                <select id="xAxis" name="xAxis">
                    <option value="" disabled selected>Select X-Axis</option>
                    {% for column in columns %}
                        {% if df[column].nunique() <= 150 %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <select id="yAxis" name="yAxis">
                    <option value="" disabled selected>Select Y-Axis</option>
                    {% for column in columns %}
                        {% if df[column].dtype == 'int4' or df[column].dtype == 'float64' or df[column].nunique() <= 40 %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div id="histFields" style="display: none;">
                <select id="axis" name="axis">
                    <option value="" disabled selected>Select Axis</option>
                    {% for column in columns %}
                        {% if df[column].dtype == 'int4' or df[column].dtype == 'float64' %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <select id="bins" name="bins">
                    <option value="" disabled selected>Select Number of Bins</option>
                    {% for i in range(10, 55, 5) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="lineFields" style="display: none;">
                <select id="lineX" name="xAxis">
                    <option value="" disabled selected>Select X-Axis</option>
                    {% for column in columns %}
                        {% if df[column].dtype == 'datetime64[ns]' %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <select id="lineY" name="yAxis">
                    <option value="" disabled selected>Select Y-Axis</option>
                    {% for column in columns %}
                        {% if df[column].dtype == 'int4' or df[column].dtype == 'float64' %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div id="pieFields" style="display: none;">
                <select id="pieColumn" name="pieColumn">
                    <option value="" disabled selected>Select Column</option>
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="scatterFields" style="display: none;">
                <select id="scatterX" name="xAxis">
                    <option value="" disabled selected>Select X-Axis</option>
                    {% for column in columns %}
                        {% if df[column].dtype == 'int4' or df[column].dtype == 'float64' or df[column].nunique() <= 50 %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <select id="scatterY" name="yAxis">
                    <option value="" disabled selected>Select Y-Axis</option>
                    {% for column in columns %}
                        {% if df[column].dtype == 'int4' or df[column].dtype == 'float64' or df[column].nunique() <= 50 %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <select id="scatterColor" name="scatterColor">
                    <option value="None">None</option>
                    {% for column in columns %}
                        {% if df[column].nunique() <= 20 %}
                                <option value="{{ column }}">{{ column }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <button type="submit">Generate Plot</button>
        </form>
    </div>

<script>
    function showHideFields() {
        var chartType = document.getElementById("chartType").value;
        var barFields = document.getElementById("barFields");
        var histFields = document.getElementById("histFields");
        var pieFields = document.getElementById("pieFields");
        var scatterFields = document.getElementById("scatterFields");
        var lineFields = document.getElementById("lineFields");


        if (chartType === "bar") {
            barFields.style.display = "block";
            histFields.style.display = "none";
            pieFields.style.display = "none";
            scatterFields.style.display = "none";
            lineFields.style.display = "none";
        } else if (chartType === "hist") {
            barFields.style.display = "none";
            histFields.style.display = "block";
            pieFields.style.display = "none";
            scatterFields.style.display = "none";
            lineFields.style.display = "none";
        } else if (chartType === "pie") {
            barFields.style.display = "none";
            histFields.style.display = "none";
            pieFields.style.display = "block";
            scatterFields.style.display = "none";
            lineFields.style.display = "none";
        } else if (chartType === "scatter") {
            barFields.style.display = "none";
            histFields.style.display = "none";
            pieFields.style.display = "none";
            scatterFields.style.display = "block";
            lineFields.style.display = "none";
        } else if (chartType === "line") {
            barFields.style.display = "none";
            histFields.style.display = "none";
            pieFields.style.display = "none";
            scatterFields.style.display = "none";
            lineFields.style.display = "block";
        }
    }

    function validateForm() {
        var chartType = document.getElementById("chartType").value;

        if (chartType === "bar") {
            return validateSelect("xAxis") && validateSelect("yAxis");
        } else if (chartType === "hist") {
            return validateSelect("axis") && validateSelect("bins");
        } else if (chartType === "pie") {
            return validateSelect("pieColumn");
        } else if (chartType === "scatter") {
            return validateSelect("scatterX") && validateSelect("scatterY");
        } else if (chartType === "line") {
            return validateSelect("lineX") && validateSelect("lineY");
        }

        return false;
    }

    function validateSelect(selectId) {
        var select = document.getElementById(selectId);
        var selectedOption = select.options[select.selectedIndex];

        if (!selectedOption.value) {
            alert("Please make a selection for '" + select.options[0].text + "'.");
            return false;
        }

        return true;
    }
</script>
</body>
</html>
